{% extends 'parent.html' %}
{% block tit %}projects _ List{% endblock %}
{% block header %}projects _ List{% endblock %}
{% block content %}
  {{ projects }}
  <h1>{{ 1 | add:2 }}</h1>
  <table width="100%" border="1">
    <tr>
      {% comment %} title = models.CharField(max_length=200)
    details = models.TextField()
    target_amount = models.DecimalField(max_digits=10, decimal_places=2)
    start_date = models.DateTimeField()
    end_date = models.DateTimeField()
      creator = models.CharField(max_length=200) {% endcomment %}
      <th>ID</th>
      <th>title</th>
      <th>details</th>
      <th>target_amount</th>
      <th>start_date</th>
      <th>end_date</th>
      <th>creator</th>
      <th>Image</th>
    </tr>
    {% for project in projects %}
      <tr>
        <td>{{ project.project_id }}</td>
        <td>{{ project.title }}</td>
        <td>{{ project.details }}</td>
        <td>{{ project.target_amount }}</td>
        <td>{{ project.start_date }}</td>
        <td>{{ project.end_date }}</td>
        <td>{{ project.creator }}</td>
        {% comment %} {% for images in images[project] %} {% endcomment %}
        <td>
          {% for x, imagess in images.items %}
            {% if x == project %}
              {% for imag in imagess %}<img src="{{ imag.image.url }}" alt="My Image">{% endfor %}
            {% endif %}
          {% endfor %}
        </td>
        {% comment %} {% endfor %} {% endcomment %}
        <td>
          {% comment %} <a href="{% url 'projectDelete' project.project_id %}">Delete</a> {% endcomment %}
          {% comment %} <a href="{% url 'projectupdate' project.project_id %}">update</a> {% endcomment %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
